* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header { 
    background-image: url("../audio/resources/hero-bg.jpg") ;
    background-size: 100% 700px;
    width: 100%;
    height: 600px; 
    color: white;
}
.header1 { 
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 70px;
}
.text1 {
    margin-left: 125px;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Dancing Script', cursive;
}

.one {
    margin-right: 90px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px
}

.two {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.two1 {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-right: 150px;
    margin-top: 10px;

}
.main1 {
    margin-top: 100px;
    margin-left: 180px;
}
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}
.text_buttom_one {
    position: relative;
    right: 150px;
    background-color: rgb(245, 196, 17);
    border-radius: 20px;
    width: 150px;
    height: 40px;
    color: white;
    list-style: none;
}
.main2 {
    background-color: rgb(245, 196, 17);
    border-radius: 20px;
    width: 150px;
    height: 40px;
    color: white;
    position: relative;
    top: 20px;
    width: 160px;
    height: 45px;
    border-radius: 30px;
}
.footer {
    background-image: url("../audio/resources/45200.png");
    width: 100%;
    height: 700px;
}
.footer_start {
    position: relative;
    left: 600px;
    bottom: 420px;
    color: white;
}
h2 {
    font-size: 80px;
}
.img {
    margin-top: 100px;
    margin-left: 250px;
    width: 350px;
    height: 500px;
}
.footer_end {
    position: relative;
    top: 20px;
    color: white;
    background-color: rgb(213, 179, 8);
    width: 150px;
    height: 40px;
    border-radius: 20px;
    list-style: none;
}
ul {
    display: flex;
    margin-top: 100px;
}

